<header>
	<div class= "wrapper">
		<header class="hero">
			<h1>Teacher Talent</h1>
			<div class="subheading"><p>empowering grade schools to recruit the best teachers</p></div>

			<button class="cta">List your school</button>
			<button class="cta">List your talent</button>
		</div>
	</header>
	<main>
		<!-- start -->
		<div class="info-section">
			<div class="section-title">
				<h2>How it works</h2>
			</div>
			<div class="section-bullets">
				<div class="section-bullet">
					<div class="bullet-number">1</div>
					<div class="bullet-text"><p>High quality schools and talented teachers sign up. lorem ipsum...</p></div>
				</div>
				<div class="section-bullet">
					<div class="bullet-number">2</div>
					<div class="bullet-text"><p>High quality schools and talented teachers sign up. lorem ipsum...</p></div>

				</div>
				<div class="section-bullet">
					<div class="bullet-number">3</div>
					<div class="bullet-text"><p>High quality schools and talented teachers sign up. lorem ipsum...</p></div>
				</div>
			</div>
		</div>
		<!-- end -->
		<div class="featured">
			<div class="featured-list1">
				<h2 class= "section-title">Featured Schools</h2>
				<div class="featured-item">
					<img class="featured-img" src="https://placekitten.com/g/200/300"></img>
					<div class="featured-text">
						<p>Magnet K-12</p>
						<p>Austin, TX</p>
						<p>Wins awards all the time.</p>
					</div>
				</div>
				<div class="featured-item">
					<img class="featured-img" src="https://placekitten.com/g/200/300"></img>
					<div class="featured-text">
						<p>Magnet K-12</p>
						<p>Austin, TX</p>
						<p>Wins awards all the time.</p>
					</div>
				</div>
				<div class="featured-item">
					<img class="featured-img" src="https://placekitten.com/g/200/300"></img>
					<div class="featured-text">
						<p>Magnet K-12</p>
						<p>Austin, TX</p>
						<p>Wins awards all the time.</p>
					</div>
				</div>
			</div>
			<div class="featured-list2">
				<h2 class= "section-title">Featured Teachers</h2>
				<div class="featured-item">
					<img class="featured-img" src="https://placekitten.com/g/200/300"></img>
					<div class="featured-text">
						<p>Magnet K-12</p>
						<p>Austin, TX</p>
						<p>Wins awards all the time.</p>
					</div>
				</div>
				<div class="featured-item">
					<img class="featured-img" src="https://placekitten.com/g/200/300"></img>
					<div class="featured-text">
						<p>Magnet K-12</p>
						<p>Austin, TX</p>
						<p>Wins awards all the time.</p>
					</div>
				</div>
				<div class="featured-item">
					<img class="featured-img" src="https://placekitten.com/g/200/300"></img>
					<div class="featured-text">
						<p>Magnet K-12</p>
						<p>Austin, TX</p>
						<p>Wins awards all the time.</p>
					</div>
				</div>
			</div>
		</div>
	</main>
