<header>
	<div class= "wrapper">
		<header class="hero">
			<div class="header-copy">
				<h1>Teacher Talent</h1>
			<p class="subheading">Where great teachers meet great schools.</p>
			</div>
			<div class="header-button-wrapper">
				<button class="cta">I'm a School!</button>
				<button class="cta">I'm a Teacher!</button>
			</div>
		</div>
	</header>
	<main>
		<!-- start -->
		<div class="info-section">
			<div class="section-title">
				<h2>How it works</h2>
			</div>
			<div class="section-bullets">
				<div class="section-bullet">
					<div class="bullet-number">1</div>
					<div class="bullet-text"><p>Teachers create profiles, add portfolios, and find schools that meet their needs.</p></div>
				</div>
				<div class="section-bullet">
					<div class="bullet-number">2</div>
					<div class="bullet-text"><p>Schools create profiles, add performance data, and find teachers to help students' succeed.</p></div>

				</div>
				<div class="section-bullet">
					<div class="bullet-number">3</div>
					<div class="bullet-text"><p>We connect the right teachers to the right environment, so schools can focus on students.</p></div>
				</div>
			</div>
		</div>
		<!-- end -->
		<div class="featured">
			<div class="featured-list1">
				<h2 class= "section-title">Featured Schools</h2>
				<div class="featured-item">
					<img class="featured-img" src="https://pbs.twimg.com/profile_images/509040031449612288/x_AAzf-J.jpeg"></img>
					<div class="featured-text">
						<p>Public K-12</p>
						<p>Austin, TX</p>
						<p>We hire teachers who care.</p>
					</div>
				</div>
				<div class="featured-item">
					<img class="featured-img" src="http://griffinschool.org/wp-content/uploads/2013/12/GriffinSchool-logo.jpg"></img>
					<div class="featured-text">
						<p>Private K-12</p>
						<p>Austin, TX</p>
						<p>Teachers write their own curriculum.</p>
					</div>
				</div>
				<div class="featured-item">
					<img class="featured-img" src="https://pbs.twimg.com/profile_images/1813884461/AustinAchieve_TwitterLogo_0212_400x400.gif"></img>
					<div class="featured-text">
						<p>Public Charter K-12</p>
						<p>Austin, TX</p>
						<p>Innovative approaches include student beekeeping.</p>
					</div>
				</div>
			</div>
			<div class="featured-list2">
				<h2 class= "section-title">Featured Teachers</h2>
				<div class="featured-item">
					<img class="featured-img" src="http://photos1.meetupstatic.com/photos/member/7/2/4/e/member_231029262.jpeg"></img>
					<div class="featured-text">
						<p>Art Teacher</p>
						<p>Also a Designer/Developer</p>
						<p>Doer of good deeds</p>
					</div>
				</div>
				<div class="featured-item">
					<img class="featured-img" src="https://avatars1.githubusercontent.com/u/5697474?v=3&s=460"></img>
					<div class="featured-text">
						<p>IT Teacher</p>
						<p>Likes his open source life!</p>
						<p>Plays soccer</p>
					</div>
				</div>
				<div class="featured-item">
					<img class="featured-img" src="https://avatars1.githubusercontent.com/u/6227671?v=3&s=460"></img>
					<div class="featured-text">
						<p>PE Teacher</p>
						<p>Designs and Develops physical education programs</p>
						<p>Has two dogs who bark</p>
					</div>
				</div>
			</div>
		</div>
	</main>