footer {
	background: $secondary-color;
	color: $white;
	padding-bottom: 3em;
	margin-top: 4em;
	text-align: center;	

	h5{
		padding-top: 1em;
	}
	
	p {
		font-size: .9em;
	}

	hr {
		max-width: 20%;
	}

	img {
		background-color:white;
		border-radius: 50%;	
		padding: 1px;	
		margin: 1em;
	}
}