header {
	background: $primary-color;
	@include background-image(url("/images/header-background.jpg"));
	background-position: center, center;
	background-repeat: no-repeat;
	text-align:center;
	padding-top: 2em;
	padding-bottom: 2em;
	margin-bottom: 1em;
	color: $white;

	h1 {
		@include span-columns(6);
		@include shift(3);
		border: 2px solid $white;
		padding-right: .5em;
		padding-left: .5em;
		padding-top: 1em;
		padding-bottom: 1em;
		text-align:center;

		@include media ($largish) {
			@include span-columns(4);
			@include shift(4);
		}
	}

	p {
		color: white;
	}

	@include media($mediumish) {
		padding-bottom:4em;
		padding-top:2em;
	}

	@include media($largish) {
		padding-bottom:5em;
		padding-top:2em;
		margin-bottom: 1.5em;
	}

	button {
		@include span-columns(6);
		@include omega(2n);
		background-color: $accent-color;
	}

	h2 {
		color: white;
		font-size: 1em;
		@include media($mediumish) {
			font-size: 1.2em;
		}
		@include media($largish) {
			font-size: 1.3em;
		}
	}
	
	a {
		text-decoration:none;
		
		.main-title {
			margin:0;	
			color: $white;
			font-size: 2.5em;

			@include media($mediumish) {
				font-size: 3em;
			}
			@include media($largish) {
				font-size: 4em;
			}
		}
	}
}

.subheading {
	display: block;
	@include span-columns(12);

}